* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: #F1FADA;
}

footer {
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #265073;
}

.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 40px 40px 40px;
}

.content .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    height: 10vh;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.top ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 30px;
}

#links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    gap: 20px 20px;

}

#links h2 {
    margin-bottom: 10px;
}

#links li {
    margin: 5px 0;
}

#links li:hover {
    cursor: pointer;
    transition-duration: 1s;
    text-decoration: underline;
}

.link_box {
    min-width: 150px;
    width: 14vw;
    margin: 0;
}

.title {
    position: relative;
}

.title::before {
    content: '';
    height: 3px;
    width: 35px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-radius: 10px;
}

#subscribe form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

}

#email {
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    height: 5vh;
    border: 1px solid white;
    margin-top: 10px;
    padding-left: 8px;
}

#email:focus {
    border: 1px solid white;
    outline: none;
}

#email::placeholder {
    color: rgba(255, 255, 255, 0.567);
}

#submit {
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 100%;
    height: 5vh;
    border: 1px solid white;
    padding-left: 8px;
    margin-top: 10px;
}

.details {
    width: 100%;
}

.details a {
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;

}

.text_details {
    display: flex;
    background-color: #2D9596;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 10px;
    padding: 20px 40px;
    bottom: -40px;
    width: 100vw;
    position: relative;
    left: -40px;
}